<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/jquery-3.5.1.js"></script>
<script type="text/javascript">
	function setData(user_id, pwd, user_name, mobile, email, birth, in_date, in_user_id, up_date, up_user_id) {
		alert("ok");
		
		$("#user_id").val(user_id);
		$("#pwd").val(pwd);
		$("#user_name").val(user_name);
		$("#mobile").val(mobile);
		$("#email").val(email);
		$("#birth").val(birth);
		$("#in_date").val(in_date);
		$("#in_user_id").val(in_user_id);
		$("#up_date").val(up_date);
		$("#up_user_id").val(up_user_id);
	}

	function fn_add() {
		var user_id = $("#user_id").val();
		var pwd = $("#pwd").val();
		var user_name = $("#user_name").val();
		var mobile = $("#mobile").val();
		var email = $("#email").val();
		var birth = $("#birth").val();
		var in_date = $("#in_date").val();
		var in_user_id = $("#in_user_id").val();
		var up_date = $("#up_date").val();
		var up_user_id = $("#up_user_id").val();
		
		var param = "";
		
		param += "dummy=" + Math.random();
		param += "&user_id=" + user_id;
		param += "&pwd=" + pwd;
		param += "&user_name=" + user_name;
		param += "&mobile=" + mobile;
		param += "&email=" + email;
		param += "&birth=" + birth;
		param += "&in_date=" + in_date;
		param += "&in_user_id=" + in_user_id;
		param += "&up_date=" + up_date;
		param += "&up_user_id=" + up_user_id;

		$.ajax({
			url : "suser_ins.ajax",
			data : param,
			dataType : "json",
			type : "post",
			async : false,
			statusCode : {
				404 : function() {
					alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
				}
			},
			success : function(data) {
				if (data.msg == 'ok') {
					location.reload();
				} else {
					alert("추가도중 문제발생")
				}
				console.log(data.msg)
			}
		});
	}

	function fn_upd() {
		var user_id = $("#user_id").val();
		var pwd = $("#pwd").val();
		var user_name = $("#user_name").val();
		var mobile = $("#mobile").val();
		var email = $("#email").val();
		var birth = $("#birth").val();
		var in_date = $("#in_date").val();
		var in_user_id = $("#in_user_id").val();
		var up_date = $("#up_date").val();
		var up_user_id = $("#up_user_id").val();
		
		var param = "";
		
		param += "dummy=" + Math.random();
		param += "&user_id=" + user_id;
		param += "&pwd=" + pwd;
		param += "&user_name=" + user_name;
		param += "&mobile=" + mobile;
		param += "&email=" + email;
		param += "&birth=" + birth;
		param += "&in_date=" + in_date;
		param += "&in_user_id=" + in_user_id;
		param += "&up_date=" + up_date;
		param += "&up_user_id=" + up_user_id;

		$.ajax({
			url : "suser_upd.ajax",
			data : param,
			dataType : "json",
			type : "post",
			async : false,
			statusCode : {
				404 : function() {
					alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
				}
			},
			success : function(data) {
				if (data.msg == 'ok') {
					location.reload();
				} else {
					alert("수정도중 문제발생")
				}
				console.log(data.msg)
			}
		});
	}

	function fn_del() {
		var user_id = $("#user_id").val();

		var param = "";
		param += "dummy=" + Math.random();
		param += "&user_id=" + user_id;

		$.ajax({
			url : "suser_del.ajax",
			data : param,
			dataType : "json",
			type : "post",
			async : false,
			statusCode : {
				404 : function() {
					alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
				}
			},
			success : function(data) {
				if (data.msg == 'ok') {
					location.reload();
				} else {
					alert("삭제도중 문제발생")
				}
				console.log(data.msg)
			}
		});
	}
</script>
</head>
<body>
	<table border="1">
		<tr>
			<td>
				<table border="1">
					<tr>
						<td>user_id</td>
						<td>pwd</td>
						<td>user_name</td>
						<td>mobile</td>
						<td>email</td>
						<td>birth</td>
						<td>in_date</td>
						<td>in_user_id</td>
						<td>up_date</td>
						<td>up_user_id</td>
					</tr>
					{%for s in list%}
					<tr>
						<td><a
							href="javascript:setData('{{s.user_id}}','{{s.pwd}}','{{s.user_name}}','{{s.mobile}}','{{s.email}}','{{s.birth}}','{{s.in_date}}','{{s.in_user_id}}','{{s.up_date}}','{{s.up_user_id}}')">{{s.user_id}}</a></td>
						<td>{{s.pwd}}</td>
						<td>{{s.user_name}}</td>
						<td>{{s.mobile}}</td>
						<td>{{s.email}}</td>
						<td>{{s.birth}}</td>
						<td>{{s.in_date}}</td>
						<td>{{s.in_user_id}}</td>
						<td>{{s.up_date}}</td>
						<td>{{s.up_user_id}}</td>
					</tr>
					{%endfor%}
				</table>
			</td>
			<td>
				<table border="1">
					<tr>
						<td>user_id</td>
						<td><input type="text" id="user_id"></td>
					</tr>
					<tr>
						<td>pwd</td>
						<td><input type="text" id="pwd"></td>
					</tr>
					<tr>
						<td>user_name</td>
						<td><input type="text" id="user_name"></td>
					</tr>
					<tr>
						<td>mobile</td>
						<td><input type="text" id="mobile"></td>
					</tr>
					<tr>
						<td>email</td>
						<td><input type="text" id="email"></td>
					</tr>
					<tr>
						<td>birth</td>
						<td><input type="text" id="birth"></td>
					</tr>
					<tr>
						<td>in_date</td>
						<td><input type="text" id="in_date"></td>
					</tr>
					<tr>
						<td>in_user_id</td>
						<td><input type="text" id="in_user_id"></td>
					</tr>
					<tr>
						<td>up_date</td>
						<td><input type="text" id="up_date"></td>
					</tr>
					<tr>
						<td>up_user_id</td>
						<td><input type="text" id="up_user_id"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="button" value="추가"
							onclick="fn_add()" /> <input type="button" value="수정"
							onclick="fn_upd()" /> <input type="button" value="삭제"
							onclick="fn_del()" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>